@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

div#header {
    width: auto;
    height: 300px;
    background-color: black;
    color: white;

    

}

div#header h1 {
    text-align: center;
    font-size: 6em;
}

div#header p {
    text-align: center;
    font-size: 2em;
}